@model List<Category>

<div>
    <ul class="category">
        @foreach (var category in @Model)
        {
            <li><a href="@Url.Action("Index", "Home", @category)">@category.CategoryName</a></li>
        }
    </ul>

</div>

